@font-face {
    font-family: 'Tektur Condensed';
    src: local('Tektur Condensed Medium'), local('TekturCondensed-Medium'),
        url('TekturCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: local('Tektur Condensed Bold'), local('TekturCondensed-Bold'),
        url('TekturCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: local('Tektur Condensed Black'), local('TekturCondensed-Black'),
        url('TekturCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: local('Tektur Condensed SemiBold'), local('TekturCondensed-SemiBold'),
        url('TekturCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: local('Tektur Condensed Regular'), local('TekturCondensed-Regular'),
        url('TekturCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: local('Tektur Condensed ExtraBold'), local('TekturCondensed-ExtraBold'),
        url('TekturCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: local('Tektur SemiCondensed Medium'), local('TekturSemiCondensed-Medium'),
        url('TekturSemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: local('Tektur SemiCondensed ExtraBold'), local('TekturSemiCondensed-ExtraBold'),
        url('TekturSemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: local('Tektur SemiCondensed Black'), local('TekturSemiCondensed-Black'),
        url('TekturSemiCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: local('Tektur SemiCondensed Bold'), local('TekturSemiCondensed-Bold'),
        url('TekturSemiCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: local('Tektur Black'), local('Tektur-Black'),
        url('Tektur-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: local('Tektur SemiCondensed SemiBold'), local('TekturSemiCondensed-SemiBold'),
        url('TekturSemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: local('Tektur SemiCondensed Regular'), local('TekturSemiCondensed-Regular'),
        url('TekturSemiCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: local('Tektur ExtraBold'), local('Tektur-ExtraBold'),
        url('Tektur-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: local('Tektur SemiBold'), local('Tektur-SemiBold'),
        url('Tektur-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: local('Tektur Regular'), local('Tektur-Regular'),
        url('Tektur-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: local('Tektur Medium'), local('Tektur-Medium'),
        url('Tektur-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: local('Tektur Bold'), local('Tektur-Bold'),
        url('Tektur-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

