#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@font-face {
    font-family: 'Tektur Condensed';
    src: local('Tektur Condensed Medium'), local('TekturCondensed-Medium'),
        url('/fonts/TekturCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: local('Tektur Condensed Bold'), local('TekturCondensed-Bold'),
        url('/fonts/TekturCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: local('Tektur Condensed Black'), local('TekturCondensed-Black'),
        url('/fonts/TekturCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: local('Tektur Condensed SemiBold'), local('TekturCondensed-SemiBold'),
        url('/fonts/TekturCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: local('Tektur Condensed Regular'), local('TekturCondensed-Regular'),
        url('/fonts/TekturCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: local('Tektur Condensed ExtraBold'), local('TekturCondensed-ExtraBold'),
        url('/fonts/TekturCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: local('Tektur SemiCondensed Medium'), local('TekturSemiCondensed-Medium'),
        url('/fonts/TekturSemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: local('Tektur SemiCondensed ExtraBold'), local('TekturSemiCondensed-ExtraBold'),
        url('/fonts/TekturSemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: local('Tektur SemiCondensed Black'), local('TekturSemiCondensed-Black'),
        url('/fonts/TekturSemiCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: local('Tektur SemiCondensed Bold'), local('TekturSemiCondensed-Bold'),
        url('/fonts/TekturSemiCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: local('Tektur Black'), local('Tektur-Black'),
        url('/fonts/Tektur-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: local('Tektur SemiCondensed SemiBold'), local('TekturSemiCondensed-SemiBold'),
        url('/fonts/TekturSemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: local('Tektur SemiCondensed Regular'), local('TekturSemiCondensed-Regular'),
        url('/fonts/TekturSemiCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: local('Tektur ExtraBold'), local('Tektur-ExtraBold'),
        url('/fonts/Tektur-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: local('Tektur SemiBold'), local('Tektur-SemiBold'),
        url('/fonts/Tektur-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: local('Tektur Regular'), local('Tektur-Regular'),
        url('/fonts/Tektur-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: local('Tektur Medium'), local('Tektur-Medium'),
        url('/fonts/Tektur-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*noinspection ALL*/
@font-face {
    font-family: 'Tektur';
    src: local('Tektur Bold'), local('Tektur-Bold'),
        url('/fonts/Tektur-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

